@using Microsoft.AspNetCore.Identity
@using WebApp.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loan Payments Manager</title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href=@(@"https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css") integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous" asp-append-version="true">
    <!--end::Fonts-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css" integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous" asp-append-version="true">
    <!--end::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/adminlte/js/adminlte.min.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
        <!--begin::Sidebar-->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <!--begin::Sidebar Brand-->
            <div class="sidebar-brand">
                <!--begin::Brand Link-->
                <a asp-page="/Index" class="brand-link">
                    <!--begin::Brand Image-->
                    @* <img src="~/images/no_image.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> *@
                    <!--end::Brand Image-->
                    <!--begin::Brand Text-->
                    <span class="brand-text fw-light">Loan Payments</span>
                    <!--end::Brand Text-->
                </a> <!--end::Brand Link-->
            </div>
            <!--end::Sidebar Brand-->
            <!--begin::Sidebar Wrapper-->
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <!--begin::Sidebar Menu-->
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        @* <li class="nav-header">DASHBOARD</li> *@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-speedometer"></i>
                                <p>
                                    Dashboard
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Index" class="nav-link">
                                        <i class="nav-icon bi bi-graph-up-arrow"></i>
                                        <p>Cashflow</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Index" class="nav-link">
                                        <i class="nav-icon bi bi-file-bar-graph"></i>
                                        <p>Summary</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Index" class="nav-link">
                                        <i class="nav-icon bi bi-database"></i>
                                        <p>Database</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* <li class="nav-header">APPLICATIONS</li> *@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-window-desktop"></i>
                                <p>
                                    Applications
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/CreditAnalysis/Index" class="nav-link">
                                        <i class="nav-icon bi bi-book"></i>
                                        <p>Credit Analysis</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Amortization/Index" class="nav-link">
                                        <i class="nav-icon bi bi-calculator"></i>
                                        <p>Loan Amortization</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* <li class="nav-header">BORROWERS</li> *@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-person"></i>
                                <p>
                                    Borrowers
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Borrowers/Create" class="nav-link">
                                        <i class="nav-icon bi bi-plus"></i>
                                        <p>New borrower</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Borrowers/Index" asp-route-Category="All-Borrowers" class="nav-link">
                                        <i class="nav-icon bi bi-card-list"></i>
                                        <p>All borrowers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Borrowers/Index" asp-route-Category="With-Unpaid-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-list-task"></i>
                                        <p>With unpaid</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Borrowers/Index" asp-route-Category="With-Overdue-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-list-stars"></i>
                                        <p>With overdue</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Borrowers/Index" asp-route-Category="With-Paid-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-list-check"></i>
                                        <p>With paid</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* <li class="nav-header">LOANS</li> *@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-bank"></i>
                                <p>
                                    Loans
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Loans/Create" class="nav-link">
                                        <i class="nav-icon bi bi-plus"></i>
                                        <p>New loan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Loans/Index" asp-route-Category="All-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-card-list"></i>
                                        <p>All loans</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Loans/Index" asp-route-Category="Unpaid-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-list-task"></i>
                                        <p>Unpaid loans</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Loans/Index" asp-route-Category="Overdue-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-list-stars"></i>
                                        <p>Overdue loans</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Loans/Index" asp-route-Category="Paid-Loans" class="nav-link">
                                        <i class="nav-icon bi bi-list-check"></i>
                                        <p>Paid loans</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* <li class="nav-header">INSTALLMENTS</li> *@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-calendar2-week"></i>
                                <p>
                                    Installments
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @* <li class="nav-item">
                                <a asp-page="/Installments/Create" class="nav-link">
                                <i class="nav-icon bi bi-plus"></i>
                                <p>New installment</p>
                                </a>
                                </li> *@
                                <li class="nav-item">
                                    <a asp-page="/Installments/Index" asp-route-Category="All-Installments" class="nav-link">
                                        <i class="nav-icon bi bi-card-list"></i>
                                        <p>All installments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Installments/Index" asp-route-Category="Unpaid-Installments" class="nav-link">
                                        <i class="nav-icon bi bi-list-task"></i>
                                        <p>Unpaid installments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Installments/Index" asp-route-Category="Overdue-Installments" class="nav-link">
                                        <i class="nav-icon bi bi-list-stars"></i>
                                        <p>Overdue installments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Installments/Index" asp-route-Category="Paid-Installments" class="nav-link">
                                        <i class="nav-icon bi bi-list-check"></i>
                                        <p>Paid installments</p>
                                    </a>
                                </li>
                            </ul>
                    </ul>
                    <!--end::Sidebar Menu-->
                </nav>
            </div>
            <!--end::Sidebar Wrapper-->
        </aside>
        <!--end::Sidebar-->
        <!--begin::Main Wrapper-->
        <div class="app-main-wrapper">
            <!--begin::Header-->
            <nav class="app-header navbar navbar-expand bg-body">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Start Navbar Links-->
                    <ul class="navbar-nav">
                        <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li>
                        <li class="nav-item d-none d-md-block"> <a href="#" class="nav-link">Home</a> </li>
                        <li class="nav-item d-none d-md-block"> <a href="#" class="nav-link">Contact</a> </li>
                    </ul> <!--end::Start Navbar Links-->
                    <!--begin::End Navbar Links-->
                    <ul class="navbar-nav ms-auto">
                        <!--begin::Navbar Search-->
                        <li class="nav-item"> <a class="nav-link" data-widget="navbar-search" href="#" role="button"> <i class="bi bi-search"></i> </a> </li> <!--end::Navbar Search-->
                        <!--begin::Fullscreen Toggle-->
                        <li class="nav-item"> <a class="nav-link" href="#" data-lte-toggle="fullscreen"> <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i> <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none;"></i> </a> </li>
                        <!--end::Fullscreen Toggle-->
                        <!--begin::User Menu Dropdown-->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown user-menu">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <img src="~/images/no_image.png" class="user-image rounded-circle shadow" alt="User Image"> <span class="d-none d-md-inline">@(UserManager.GetUserName(User))</span> </a>
                                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                                    <!--begin::User Image-->
                                    <li class="user-header text-bg-primary">
                                        <img src="~/images/no_image.png" class="rounded-circle shadow" alt="User Image">
                                        <p>
                                            @(UserManager.GetUserName(User))
                                            <small>Member since Nov. 2023</small>
                                        </p>
                                    </li>
                                    <!--end::User Image--> <!--begin::Menu Body-->
                                    @* <li class="user-body">
                                <!--begin::Row-->
                                <div class="row">
                                <div class="col-4 text-center"> <a href="#">Followers</a> </div>
                                <div class="col-4 text-center"> <a href="#">Sales</a> </div>
                                <div class="col-4 text-center"> <a href="#">Friends</a> </div>
                                </div>
                                <!--end::Row-->
                                </li> *@
                                    <!--end::Menu Body-->
                                    <!--begin::Menu Footer-->
                                    <li class="user-footer">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" class="btn btn-default btn-flat float-end">Sign out</a>
                                    </li>
                                    <!--end::Menu Footer-->
                                </ul>
                            </li>
                        }
                        <!--end::User Menu Dropdown-->
                    </ul> <!--end::End Navbar Links-->
                </div> <!--end::Container-->
            </nav>
            <!--end::Header-->
            <!--begin::App Main-->
            <main class="app-main">
                <!--begin::App Content Header-->
                @* <div class="app-content-header">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="mb-0">@(ViewData["Title"])</h3>
                            </div>
                            <div class="col-sm-4">
                                <ol class="breadcrumb float-sm-end">
                                    @if (ViewData["Path"] is not null)
                                    {
                                        foreach (var path in ViewData["Path"].ToString().Split("/"))
                                        {
                                            if (path == "/")
                                            {
                                                <li class="breadcrumb-item"><a asp-page="/Index">Dashboard</a></li>
                                            }
                                            else
                                            {
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    @path
                                                </li>
                                            }
                                        }
                                    }
                                </ol>
                            </div>
                        </div> <!--end::Row-->
                    </div> <!--end::Container-->
                </div> *@
                <!--end::App Content Header-->
                <!--begin::App Content-->
                <div class="app-content">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-12 pt-5">
                                @RenderBody()
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::App Content-->
            </main>
            <!--begin::Create Admin Content-->
            @* <div class="app-content-bottom-area">
            <div class="row">
            <div class="col-12 text-end"> <button type="submit" class="btn btn-primary" name="save" value="create">Create Admin</button> </div>
            </div>
            </div> *@
            <!--end::Create Admin Content-->
            <!--end::App Main-->
            <!--begin::Footer-->
            <footer class="app-footer">
                <!--begin::To the end-->
                @* <div class="float-end d-none d-sm-inline">Anything you want</div> *@
                <!--end::To the end-->
                <!--begin::Copyright-->
                <div class="float-end d-none d-sm-inline">
                    <small>
                        Copyright &copy; 2014-2024&nbsp;<a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>.
                    </small>
                    All rights reserved.
                </div>
                <!--end::Copyright-->
            </footer>
            <!--end::Footer-->
        </div>
        <!--end::Main Wrapper-->
    </div>
    <!--end::App Wrapper-->
    <!--begin::Script-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/adminlte/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--begin::OverlayScrollbars Configure-->
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/browser/overlayscrollbars.browser.es6.min.js" integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous" defer asp-append-version="true"></script>
    <!--end::OverlayScrollbars Configure-->
    <!--begin::Validation Scripts Section-->
    @await RenderSectionAsync("Scripts", required: false)
    <!--end::Validation Scripts Section-->
    <script>
        const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
        const Default = {
            scrollbarTheme: "os-theme-light",
            scrollbarAutoHide: "leave",
            scrollbarClickScroll: true,
        };
        document.addEventListener("DOMContentLoaded", function () {
            const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
            if (
                sidebarWrapper &&
                typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
            ) {
                OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                    scrollbars: {
                        theme: Default.scrollbarTheme,
                        autoHide: Default.scrollbarAutoHide,
                        clickScroll: Default.scrollbarClickScroll,
                    },
                });
            }
        });
    </script>
    <!--end::Script-->
</body>
<!--end::Body-->
</html>